<div class="palm-page-header">
        <div class="header-icon mini-icon">
        </div>
        <div class="header-text un-capitalize">
            Ping.fm
        </div>
</div>
<div class="palm-group">
    <div class="palm-group-title">
        <span>Ping My</span>
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ListSelector" id="methodList">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title">
        <span>Your Message</span>
    </div>
    <div class="palm-list">
        <div id="titleRow" class="palm-row single">
            <div class="palm-row-wrapper">
                <div class="textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id="titleField" x-mojo-element="TextField">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div class="textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id="messageField" x-mojo-element="TextField">
                        </div>
                        <div id="cntLabel" class="label">
                            140
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div x-mojo-element="Button" id="pingBtn">
</div>
